FOURGBOTVOLUMEDIR="$HOME/containers/"
FOURGBOTMOUNTDIR="$HOME/private/"
FOURGBOTVOLUMESIZE='200M'
FOURGBOTVOLUMENAME='sample'
FOURGBOTBOTNAME="bot01"
FOURGBOTOPERATOR="Telekom HU"
FOURGBOTAPN="internet"
FOURGBOTDEVICE="ttyUSB3"
FOURGBOTKEYFILE="bot01"
FOURGBOTMASTERIP="1.2.3.4"
FOURGBOTMASTERUSER="root"
FOURGBOTMASTERSSHPORT="22"
FOURGBOTMASTERSSHTUNNELPORT="22001"
FOURGBOTMASTERVNCTUNNELPORT="59001"